input.ng-valid {
  border-left: solid green 5px;
}

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-left: solid red 5px;
}

input.ng-valid ~ .valid-feedback,
input.ng-invalid ~ .invalid-feedback {
  display: block;
}
